
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
 
}
.Navbar h2 {
  color:rgba(86, 14, 100, 0.699);
  margin-right: 90px;
}
.links a{
margin-left: 16px;
  text-decoration: none;
  padding: 6px;
 
}

.home h1{
  text-align: center;
}
.notes-preview{
  margin-top: 10px ;
  padding:  20px;
  border: white;
}
.notes-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.notes-preview h2 {
  font-size: 20px;
  color: rgba(86, 14, 100, 0.699);;
  margin-bottom: 10px;
}
.content {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  text-align: left;
}
.notes-preview a{
  text-decoration:  none;
}
.notesDetails h2 {
  color: rgba(86, 14, 100, 0.699);;
}
.notesDetails p {
  margin-top: 50px;
}
.create label{
  text-align: left;
  display: block;
}
.create input,.create textarea{
width: 100px;
padding: 6px;
margin: 10px 0;
display: block;
white-space:pre-line;
}
.create button{
background: rgba(86, 14, 100, 0.699);
color: white;
padding: 7px;

}